<!DOCTYPE html>
<html>


<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Register | Auction</title>
	<link rel="stylesheet" type="text/css" href="../styles/login.css">
	
	<link rel="stylesheet" type="text/css" href="../styles/basic.css">
	<link rel="stylesheet" type="text/css" href="../styles/bg.css">
	<link rel="stylesheet" type="text/css" href="../styles/modal.css">
	<link rel="stylesheet" type="text/css" href="../styles/register.css">
	
</head>

<style>





.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}


</style>

<body>


<div class = "container-fluid bg-2 text-center">

	<form name="registerform" class="myForm" role ="form" ng-controller="registerController" align="middle" ng-submit="registerform.$valid && register(user)"
	novalidate>
		
		<h1>
			<font size="4"><b>Registration Form</b></font>
		</h1>
		<font id="inUsePanel1" color= #FF0000 size= "2">
    		Username already in use.
    	</font>
    	<font id="inUsePanel2" color= #FF0000 size = "2">
    		E-mail already in use.
    	</font>
    	
		<div class="row">
			<div class="form-group col-md-12">
				<input type="email" class="form-control" validate-email name="email" placeholder="E-mail" ng-model="user.email"  required>
             
			
				<span id="emailerror"  ng-show="registerform.email.$invalid && registerform.email.$dirty">
             	<i  class="fa fa-exclamation-circle" aria-hidden="true"></i> <font size = "2">Invalid e-mail</font></span>
		
			</div>
			
		</div>
		
		<div class="row">
			<div class="form-group col-md-12">
				<input type="text" class="form-control" name="username" placeholder="Username" ng-model="user.username" required>
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col-md-6 ">
				<input type="text" class="form-control" name="firstName" placeholder="First Name" ng-model="user.firstName" required>
			</div>
			<div class="form-group col-md-6 ">
			     <input type="text" class="form-control" name="lastName" placeholder="Last Name" ng-model="user.lastName" required>
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col-md-6">
				<input type="password" class=" form-control" name="password" placeholder="Password" ng-model="user.password" required>
			</div>
			<div class="form-group col-md-6">
				<input type="password" class="form-control" name="confirmPassword" placeholder="Re-type password" 
            		ng-model="user.confirmPassword" required validate-pass="user.password">
            	<span id="emailerror" ng-show="registerform.confirmPassword.$invalid && registerform.confirmPassword.$dirty">
             	<i  class="fa fa-exclamation-circle" aria-hidden="true"></i> <font size = "2">Passwords do not match</font></span>
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col-md-6">
				<input type="text" name="mobileNumber" class="form-control" placeholder="Mobile Number" ng-model="user.mobileNumber" required>
			</div>
			<div class="form-group col-md-6">
            	<input type="text" name="phoneNumber" class="form-control" placeholder="Phone Number" ng-model="user.phoneNumber" required>
			</div>
		</div>
		<div class="row">
			<div class="form-group ">
				<div class="radio-inline">
					<input type="radio" ng-model="user.gender" value="M"><font size="3">Male</font>
				</div>
				<div class="radio-inline">
					<input type="radio" ng-model="user.gender" value="F"><font size="3">Female</font>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-12">
				<input type="text" class="form-control" name="vat" placeholder="VAT" ng-model="user.vat" required>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-12">
				<input type="date" class="form-control" name="dateOfBirth" placeholder="Date Of Birth" ng-model="user.dateOfBirth" required>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-12">
				<input type="text" class='form-control' name="country" placeholder="Country" ng-model="user.country" required>
			</div>
			<div class="form-group col-md-12">
				<input type="text" class="form-control" name="city" placeholder="City" ng-model="user.address.city">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-12">
				<input type="text" class="form-control" name="street" placeholder="Street" ng-model="user.address.street">
			</div>
			<div class="form-group col-md-12">
				<input type="text" class="form-control" name="postalCode" placeholder="Postal Code" ng-model="user.address.postalCode">
			</div>
		</div>
		<div class="checkbox form-control chBox">
			<label><input type="checkbox" ng-model="checked">I accept the <a href="#">Terms and Conditions</a></label>
		</div>
		<div class="row">
			<span id="accepterror" class="form-control chBox">
             <font size = "2">Please accept the Terms and Conditions to proceed.</font></span>
		</div>
		<div class="row">
			<button class="btn btn-default myBtn" type="submit">Register</button>
			
		</div>
	</form>


</div>




</body>


</html>

