<div class="container-fluid bg-2" id="admin1">
	<div class="row text-center">
		<h4>Administration Page</h4>
	</div>
</div>
<div class="container-fluid text-center" id="admin2">
	<div class="row">
		<img src="./images/logo1.png"  height="114" width="230">
	</div>
	<div class="panel panel-primary" id="adminPanel">
		<div class="panel-heading" id="adminPanelHead">
			Managment Portlet
		</div>
		<div class="panel-body" id="adminPanelBody">
			<br>
			
			<div class="row">
				<button class="btn btn-default" id="adminBtn1" ng-click="exportToXML()">Export to XML</button>
			</div>
			<br>
			<div class="row">
				<button class="btn btn-default" id="adminBtn2" ng-click="koula()">List of verified users</button>
			</div>
			<br>
			<div class="row">
				<button type="button" class="btn btn-default" id="adminBtn3" ng-click="kitsos()">List of unverified users</button>
			</div>
			<br>
		</div>
	</div>
	<div class="row" align="middle">
		<a href="/#/profile"><h6>Back to my profile.</h6></a>
	</div>
</div>


