<div class="container-fluid bg-2" id="admin1">
	<div class="row text-center">
		<h4>List of users pending verification.</h4>
	</div>
</div>
<div class="container-fluid text-center" id="admin2">
	<div class="list-group">
		<a ui-sref="main.verificationPreview({id: user.userId})" class="list-group-item" ng-repeat="user in unverified">{{user.username}}</a>	
	</div>
	<div class="row" align="middle">
		<div class="btn-group">
  			<button type="button" class="btn btn-primary" ng-click='previousPage()' ng-disabled='pageCounter == 1'>Back</button>
  			<button type="button" class="btn btn-primary" ng-click='nextPage()' ng-disabled='unverified.length < 10'>Next</button>
  		</div>
	</div>
	<br>
	<div class="row" align="middle">
		<a href="/#/profile"><h6>Back to my profile.</h6></a>
	</div>
</div>


