<div class="container-fluid " id="adminVerified">
	<div class="row text-center">
		<h4>List of verified users.</h4>
	</div>
</div>
<div class="container-fluid text-center" id="adminVerified2">
	<div class="list-group">
		<a ui-sref="main.verificationPreview({id: user.userId})" class="list-group-item" ng-repeat="user in verified">{{user.username}}</a>	
	</div>
	<div class="row" align="middle">
		<ul uib-pagination total-items="totalUsers" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" ng-change='change(bigCurrentPage)'></ul>
		
	</div>
	<br>
	<div class="row" align="middle">
		<a href="/#/adminOptions"><h6>Back to administration page.</h6></a>
	</div>
</div>