<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../styles/basic.css">
	<link rel="stylesheet" type="text/css" href="../styles/bg.css">
</head>

<style>

.container-fluid{
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 50px;
	padding-bottom: 50px;

}

</style>

<body>

<div class="container-fluid text-center">
	<img src="./images/logo1.png"  height="114" width="260">
	<div class="panel panel-default">
	
  		<div class="panel-heading">Preview your item.</div>
  		
  		<div class="panel-body">
  			<div class="row">
  				<h4>{{item.name}}</h4>
  			</div>
  			<hr>
  			
  			<div class="row">
  				<h5>{{item.description}}</h5>
  			</div>
  			<button class="btn btn-primary" ng-click="complete()">Complete Auction</button>
  		</div>
	</div>

</div>



</body>

</html>