<!DOCTYPE html>
<html>




<head>
	<link rel="stylesheet" type="text/css" href="../styles/basic.css">
	<link rel="stylesheet" type="text/css" href="../styles/centered.css">
	<link rel="stylesheet" type="text/css" href="../styles/login.css">
</head>

<body>

<div id="headerBar"></div>

<div class="container-4">
  <a href="/#/welcome">
		<img class="img" src="http://i765.photobucket.com/albums/xx295/yiotappl/logonew_zpstit9bcvx.png"  style="width:150px;height:50px;"/img>
	  </a>
      <input type="search" id="search" placeholder="Search..." />
      <select class="select">
      	<option>Categories</option>
      	<option>Appliancies</option>
      	<option>Gadgets</option>
      	<option>Hardware</option>
      	
      
      </select>
      <button class="icon"><i class="fa fa-search"></i></button>
       
	  <button  class="buttonR " type="button" ng-click="redirectRegister()">Register</button>
	  <hr class="vertical"/>
      <button  class="buttonL " type="button"  ng-click="redirectLogin()" >Sign In</button>
	  
  </div>

	

<form name="loginform" class="centered1 form" align="middle" 
	ng-controller="loginController" ng-submit="login(user)" >
	
	<hr>
	<h1  style="font-family:'verdana'">
		<font size="4"><b>SIGN IN</b></font>
	</h1>
	<div id="donotmatchPanel" >
    	<font color= #FF0000>
    		Username or e-mail and password do not match.
    	</font>
    </div> 
    <font size="2">USERNAME OR E-MAIL:</font>
    <br><input  type="text" name="username" ng-model="user.username" ><br>
    <div id="usernamePanel" >
    	<font color= #FF0000>
    		Required field is missing.
    	</font>
    </div> 
    <font size="2">PASSWORD:</font>
    <br><input type="password" name="password" ng-model="user.password" ><br>
	<div id="passwordPanel" >
    	<font color= #FF0000>
    		Required field is missing.
    	</font>
    </div> 
    <br><button class="button">Sign In</button><br>
 	<hr>

	New to this site?
 	<a href="/#/register">
		Register here.
	</a>
</form>



</body>
</html>
