<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../styles/basic.css">
<link rel="stylesheet" type="text/css" href="../styles/centered.css">
<link rel="stylesheet" type="text/css" href="../styles/register.css">
</head>
<style>
.ng-invalid.ng-dirty{

	border-color: #FA787E;
	border-radius: 2px;
	
}

input{
	border: 1px solid #bcbcbc;

	border-radius: 2px;
}

input.ng-invalid.ng-dirty:focus { 
    outline: none;
    border-color: #FA787E;
    box-shadow: 0 0 2px #FA787E;
}

#emailerror{
	position:absolute;
 	color: #FA787E;
}
</style>

<body>


<div id="headerBar"></div>

<div class="container-4">
  <a href="/#/welcome">
		<img class="img" src="http://i765.photobucket.com/albums/xx295/yiotappl/logonew_zpstit9bcvx.png"  style="width:150px;height:50px;"/img>
	  </a>
      <input type="search" id="search" placeholder="Search..." />
      <select class="select">
      	<option>Categories</option>
      	<option>Appliancies</option>
      	<option>Gadgets</option>
      	<option>Hardware</option>
      	
      
      </select>
      <button class="icon"><i class="fa fa-search"></i></button>
       
	  <button  class="buttonR " type="button" ng-click="redirectRegister()">Register</button>
	  <hr class="vertical"/>
      <button  class="buttonL " type="button"  ng-click="redirectLogin()" >Sign In</button>
	  
  </div>



<form class="centered1 form" name="registerform" 
	 ng-controller="registerController" ng-submit="registerform.$valid && register(user)"
	novalidate>
   <div>
   		<hr>
		<h1 style="font-family:'verdana'" align="middle">  <font size="4"><b>REGISTER ACCOUNT</b></font></h1>
   		<font id="inUsePanel1" color= #FF0000>
    		Username already in use.
    	</font>
    	<font id="inUsePanel2" color= #FF0000>
    		E-mail already in use.
    	</font>
       <div class="padded">
            
             <input type="email" validate-email name="email" placeholder="E-mail" ng-model="user.email"  required>
             
             
             <span id="emailerror" ng-show="registerform.email.$invalid && registerform.email.$dirty">
             <i  class="fa fa-exclamation-circle" aria-hidden="true"></i> Please enter a valid email address</span>
        </div>
        <div class="padded">
        	<input type="text" name="username" placeholder="Username" ng-model="user.username" required>
        </div>
        <div class="padded">
    		<input type="text" name="firstName" placeholder="First Name" ng-model="user.firstName" required>
        
            <input type="text" name="lastName" placeholder="Last Name" ng-model="user.lastName" required>
        </div>
        
        <div class="padded">
       
            <input type="password" name="password" placeholder="Password" ng-model="user.password" required>
        
            <input type="password" name="confirmPassword" placeholder="Re-type password" 
            	ng-model="user.confirmPassword" required validate-pass="user.password">
            <span id="emailerror" ng-show="registerform.confirmPassword.$invalid && registerform.confirmPassword.$dirty">
             <i  class="fa fa-exclamation-circle" aria-hidden="true"></i> Passwords do not match</span>
            
        </div>
       
         <div class="padded">
            <input type="text" name="mobileNumber"  placeholder="Mobile T" ng-model="user.mobileNumber" required>
        
            <input type="text" name="phoneNumber" placeholder="Phone T" ng-model="user.phoneNumber" required>
        </div>
        <div class="padded">
            Gender:
            <input type="radio" ng-model="user.gender" value="M">Male
            <input type="radio" ng-model="user.gender" value="F">Female    
         </div>
         <div class="padded">
            <input type="text" name="vat" placeholder="VAT" ng-model="user.vat" required>
        </div>
        <div class="padded">
          
            <input type="date" name="dateOfBirth" placeholder="Date Of Birth" ng-model="user.dateOfBirth" required>
        </div>
        <div class="padded">
            <input type="text" name="country" placeholder="Country" ng-model="user.country" required>
        </div>
        <div class="padded">
            <input type="text" name="city" placeholder="City" ng-model="user.address.city">
        </div>
        <div class="padded">
            <input type="text" name="street" placeholder="Street" ng-model="user.address.street">
        </div>
        <div class="padded">
            <input type="text" name="postalCode" placeholder="Postal Code" ng-model="user.address.postalCode">
        </div>
        <div class="padded">
            <button class="button" type="submit"  >Register</button>
        </div>
	</div>
	<hr>
	
</form>

</body>
</html>