<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../styles/basic.css">
<style>

.centered{
	position: relative;
	margin-top: 20px;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
  	
}

</style>
</head>
<body>

<div id="headerBar"></div>

<div class="box">
  <div class="container-4">
      <input type="search" id="search" placeholder="Search..." />
      <button class="icon"><i class="fa fa-search"></i></button>
     
  </div>

</div>

<p class="centered">
	<a href="/#/welcomeUser">
		<img  src="http://i765.photobucket.com/albums/xx295/yiotappl/logo_zpsk7avtgbm.png"  style="width:400px;height:160px;"/img>
	</a>
</p>

</body>
</html>