<nav class="navbar1 navbar navbar-default" role="navigation" id="nav">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/welcome">Home</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
    <div class="col-sm-8 col-md-8">
        <form class="navbar-form" role="search">
        <div class="input-group">
        	<div class="form-group">
           	 <input type="text" class="form-control" placeholder="Search" name="q" ng-model='searchData.text'>
            </div>
            <select class="form-control" name='catsearch' id="sel"   ng-model="categories.category" ng-options="category as category.description for category in categories.array" ></select>
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-click='search()'><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
    </div>
    
    <ul class="nav navbar-nav navbar-right" >
      <li ng-hide='signedIn'><a  data-toggle="modal" data-target="#myModal" ><span class="glyphicon glyphicon-log-in"></span> SIGN IN</a></li>
     	<li ng-hide='signedIn'><a href="#/register"><span class="glyphicon glyphicon-user"></span> REGISTER</a></li>
    	<li ng-show='signedIn && unseenCounter != 0'><a ng-click="gotomessages()"><i class="fa fa-envelope" style="color:#990000;" aria-hidden="true"></i></a></li>
    	<li ng-show='signedIn && unseenCounter == 0'><a ng-click="gotomessages()"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
      <li class="dropdown"  ng-show='signedIn'>
        <a class="dropdown-toggle" data-toggle="dropdown">Welcome, {{user.username}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="" ng-click="myProfile()">My Profile</a></li>
    			<li><a href="" ng-click="auctions()">Auctions</a></li>
    			<li><a href="" ng-click="messages()">Messages <span class="badge-danger badge " ng-if="unseenCounter != 0" style="background-color:#990000;">{{unseenCounter}}</span></a></li>
    			<li class="divider"></li>
    			<li><a href="" ng-click="logout()">Sign Out</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div ui-view=mainview></div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" align="center"><font size="4"><b>SIGN IN</b></font></h4>
      </div>
      <form role="form" name="loginform" align="middle" ng-submit="login(user)" novalidate>
      <div class="modal-body">
   
	
    
    	
    	<div ng-show="donotmatch">
    		<font color=#FF0000 size="2">
    			Username or e-mail and password do not match.
    		</font>
    	</div>
  		<div class="form-group" >
    		<div ng-messages="loginform.username.$error" role="alert" ng-if="loginform.$submitted">
					<span ng-message="required"><font size="2" color="red">Required field is missing.</font></span>
			</div>
    		<input type="text" name="username" class="form-control" id="email" placeholder="Username or e-mail" ng-model="field" required>
    		
  		</div>
  		<div class="form-group">
    		<div ng-messages="loginform.password.$error" role="alert" ng-if="loginform.$submitted">
					<span ng-message="required"><font size="2" color="red">Required field is missing.</font></span>
			</div>
    		<input type="password" name="password" class="form-control" id="pwd" placeholder="Password" ng-model="userToLogin.password" required>
    		
  		</div>
  		
	
	
  </div>
  <div class="modal-footer">
        	<div class="form-group">
  			<button type="submit" class="btn btn-primary form-control" >Sign In</button>
  		</div>
  		<div class="form-group">
  		<font size="2">New to this site?
 		<a href="/#/register">
			Register here.</font>
		</a>
		</div>
		
   </div>
   </form>
   </div>

</div>
</div>