

<div class="container-fluid " id='sellerContainer'>

	<div class="panel panel-primary" id="sellerPanel">
		<div class="bg-3 panel-heading" id='sellerPanelHead'>{{seller.username}} ({{sekker.ratingAsSeller}}<span class="glyphicon glyphicon-star"></span>)</div>
		
		
		<div class="panel-body" id="main" id='sellerPanelBody'>
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-5">
					<img src="/images/user.png" height="150" width="150">
				</div>
				<div class="col-md-5">
					<div class="panel panel-default" id='sellerPanel1' align="middle">
						<div class="panel-heading" id='sellerPanelHead1'>
							Feedback
						</div>
						<div class="panel-body" id='sellerPanelBody1'>
							<div class="row">
								Seller rating: {{seller.ratingAsSeller}} <span class="glyphicon glyphicon-star"></span>
							</div>
							<div class="row">
								Bidder rating: {{seller.ratingAsBidder}} <span class="glyphicon glyphicon-star"></span>
							</div>
							
							
						</div>
						
					</div>
					<div class="row" align="middle">
							<div class="col-md-6" >
							
								<a><font size="2">Items for sale</font></a>
							</div>
							
							<div class="col-md-6" >
							
								<a ng-click="contactUser()"><font size="2"><span class="glyphicon glyphicon-envelope"></span> Contact</font></a>
							</div>
					</div>
				</div>
				<div class="col-md-1">
				</div>
				
			</div>
			<div class="row">
			<div class="col-md-1">
				</div>
				<font size="2">Member since: {{registrationDateConverted}}</font>
			</div>
			<div class="row">
			<div class="col-md-1">
				</div>
				<font size="2">Country: {{seller.country}}</font>
			</div>
		</div>
	</div>
	

</div>

<div class="container-fluid" id="sellerContainer1">
	<div class="row">
		<div class="col-md-6">
		<h4>Items for sale </h4>
		</div>
		<div class="col-md-6" align="right">
			<a ui-sref="main.search({catId: 'ALL', sellerId: seller.sellerId})">See other items</a>
		</div>
	</div>
	<div class='row list-group'>
		<div class='col-md-3' ng-repeat="item in userItems">
			<div class="thumbnail list-group-item">
      			<a>
      			<img ui-sref="main.item({id: item.auctionItemId})" ng-src={{item.displayImage}} class="img-responsive"></a>
      			<a ui-sref="main.item({id: item.auctionItemId})"><span id="myspan">{{item.name}}</span></a>
      			<span>${{item.currentBid}}</span>
      		</div>
		
		</div>
		
		
		
	
	</div>


</div>


