<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../styles/basic.css">
	<link rel="stylesheet" type="text/css" href="../styles/bg.css">
</head>

<style>

.modal p {
    word-wrap: break-word;
}
img{
 
  width: 400px;
  height: 400px;
}

.container-fluid{
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;

}

#cats{
	padding-left: 40px;
}
</style>
<body>

<div class="container-fluid text-center">
	
	
 <form name="biddingform"  role ="form" ng-controller="itemController"
											novalidate>
  		
  			<div id="cats" class="row" align="left">
  				<font size="1">Categories:</font><font size="1" ng-repeat="category in item.categories"> >{{category.description}}</font>
  			
  			</div>
  			<div class="row">
  				<div class="col-md-4" id='slides_control'>
  					<carousel>
        				<slide ng-repeat="image in images" active="active">
          					<img ng-src="{{image}}">
          					
        				</slide>
      				</carousel>
  					
  				</div>
  				<div class="col-md-8">
  					<div class="row">
							{{item.name}}  					
  					</div>
  					<hr>
  					<div class="row">
  						
  						<div class="col-md-6">
  							<div class="row">
  								<font size="3">Product Info</font>
  							</div>
  							<div class="row">
  								<div class="col-md-4">
  									<font size="2">Current Bid:</font>
  								</div>
  								<div class="col-md-4" align="left">
  									<font size="3">${{item.currentBid}}</font>
  								</div>
  								<div class="col-md-4" align="left">
  									<font size="1">({{item.bidsNo}} Bids)</font>
  								</div>
  							</div>
  							<div class="row">
  								<div class="col-md-4">
  									<button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal2" >Place bid</button>
  								</div>
  								
  								<div class="col-md-4" align="left">
  									<input name="bidding" class="form-control" ng-model="bid.amount" validate-bid='item.currentBid'>
  								</div>
  								
  								
  							</div>
  							<div class="row" ng-if="item.endDate != null">
  								<font size="1">Time left: <timer end-time="item.endDate">{{days}} d, {{hours}} h, {{minutes}} m, {{seconds}} s.</timer></font>
  							</div>
  							<div class="row" ng-if="completed">
  								<div class="alert alert-success">
  									Your bid has been placed!
  								</div>
  							</div>
  							<div class="row" ng-if="conflict">
  								<div class="alert alert-danger" >
  									You cannot bid your own item!
  								</div>
  								
  							</div>
  							<hr ng-show="hasBuyout">
  							<div class="row" ng-show="hasBuyout">
  								<font size="3">Buy it now!</font>
  							</div>
  							<div class="row" ng-show="hasBuyout">
  								<div class="col-md-4">
  									<font size="2">Price:</font>
  								</div>
  								<div class="col-md-4" align="left">
  									<font size="3">${{item.buyout}}</font>
  								</div>
  								
  							</div>
  							<div class="row"  ng-show="hasBuyout">
  								<button class="btn btn-primary">Buy it now</button>
  							</div>
  						</div>
  						<div class="col-md-6" align="left">
  							<div class="panel panel-default">
  								<div class="panel-body bg-5">
  									<font size="3">Seller Information</font>
  									<p><font size="2"><a ui-sref="main.seller({id: item.userId})">{{seller.username}}</a> ({{seller.ratingAsSeller}}<span class="glyphicon glyphicon-star"></span>)</font></p>
  									<p><font size="1">From {{seller.country}}</font></p>
  									<p><font size="1"><a href="#">See other items.</a></font></p>
  								</div>
							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="row" align="left">
  				<font size = "3"><button class="btn btn-link" ng-click="go()">See Offers</button></font>
  								
  			</div>
  			
  			<div class='row'>
  				<div ui-view=offersview></div>
  			</div>
  			<hr>
  			
  			<div class="row">
  				<div class="col-md-8" align="left">
  					<div class="row" id="cats">
  						<font size="3">Description</font>
  					
  					</div>
  					<div class="row" align="left" id="cats">
  						<font size="2">{{item.description}}</font>
  					</div>
  				</div>
  				<div class="col-md-4">
  					<ng-map center="current-location" zoom="4">
    						<marker position="{{item.geoLocationDto.latitude}},{{item.geoLocationDto.longitude}}" draggable="true" on-dragend="getCurrentLocation()"></marker>
  						</ng-map>
  				</div>
  			
  			</div>
  			
  			
  

<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Bidding Overview</h4>
      </div>
      <div class="modal-body">
        <p ng-if="bid.amount != null &&  bid.amount < item.buyout">Bid amount: ${{bid.amount}}</p>
         <p ng-if="bid.amount == null ||  bid.amount >= item.buyout">Bid amount: none</p>
        <span><font size="2" color="red" ng-show="bid.amount >= item.buyout">Bidding amount cannot surpass buy out.</font></span>
        <div ng-messages="biddingform.bidding.$error" role="alert" ng-if="biddingform.bidding.$touched">
        	<div ng-message="validateBid" align="middle">
        			
             		 <font size = "2"  color="red">Invalid bid increment!</font>
             		<br>
             		
             		 <font size = "2">See <a>this page</a> for more information on bid increment.</font>
             		
            </div>
      	</div>
    <div class="modal-footer">
        	<button type="button" class="btn btn-primary" ng-click='placeBid()' data-dismiss="modal">Continue</button>
      </div>
    </div>

  </div>
</div>

</form>
</div>
</body>
</html>