<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../styles/basic.css">
	<link rel="stylesheet" type="text/css" href="../styles/newAuction.css">
	<link rel="stylesheet" type="text/css" href="../styles/bg.css">
	
<style>
.row li {
  width: 33.3%;
  float: left;
  padding-top: 5px;
}

img {
  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
    border-radius: 3px solid;
}

.progress div {
    font-size: smaller;
    background: #6ecbc9;
    width: 0;
    border-radius: 3px;
    border: 1px solid grey;
}
hr{
	width: 600px;}
#title{
	width: 400px;
}

#stDate,#enDate{
	width: 250px;
}
#startingprice,#buynow,#lat,#lon{
	width: 150px;
}
#pricingRow{
	width: 500px;
}
#categoryList{
	width: 400px;
}
#description{
	width: 500px;
	height: 150px;
}

.container-fluid{
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;

}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: default;
    
    opacity: 1;
}
</style>

<body>


<div class="container-fluid text-center">
	<img src="./images/logo1.png"  height="114" width="230">
	<div class="panel panel-default">
	
  		<div class="panel-heading">Start a new Auction</div>
  		
  		<div class="panel-body">
  			<form name="auctionItemForm" role="form" ng-controller="newAuctionController" ng-submit="auctionItemForm.$valid && cont()" novalidate>
  				<div class="row">
  					<h5>Enter a title.</h5>
  			
  				</div>
  				<div class="row" align="middle">
  					<div ng-messages="auctionItemForm.name.$error" role="alert" ng-if="auctionItemForm.$submitted">
						<span ng-message="required"><font size="2" color="red">Required field is missing.</font></span>
					</div>
  					<input type="text" name="name" class="form-control" id="title" ng-model="item.name" required>
  				</div>
  				<hr>
  				<div class='row'>
  					<div class='col-md-4'>
  					</div>
  					<div class="col-md-4">
  					<div class="alert alert-success fade in" ng-show="submit">
    					
    					<font size="2">You have selected a category!</font>
  						</div>
  					</div>
  				</div>
  				<div class="row">
  					<div class="col-md-4"></div>
  					<div class="col-md-4"><h5>Select a category.</h5></div>
  					<div class="col-md-4" align="left"><button class='btn btn-link' ng-click="clear()"><font size="1">Clear categories</font></button>
  					</div>
  				</div>
				
  				<div class="row" >
  					<font size="1">Selected Categories:<font size="1" ng-repeat="category in selected">
						>{{category.description}} 			
  				</font> </font>

  				
  					
  				</div>
  				<div class = "row" >
  					<div ng-repeat="category in categoryIds">
						<button type="button" class="btn btn-link" ng-click="loadSubcategories(category)" ng-if="category.subCategories.length != 0" ><font size="2" >>{{category.description}}</font> </button> 					
  						<button type="button" class="btn btn-link" ng-click="loadSubcategories(category)" ng-if="category.subCategories.length == 0"  ng-disabled="submit"><font size="2">{{category.description}}</font> </button> 		
  					</div>
  				
  				</div>
  				<div class="row" align="right">
  					
  				</div>
  				<hr>
  				<div class="row">
  					<h5>Describe your item.</h5>
  				</div>
  				<div class="row"  align="middle">
  					<div ng-messages="auctionItemForm.desc.$error" role="alert" ng-if="auctionItemForm.$submitted">
						<span ng-message="required"><font size="2" color="red">Required field is missing.</font></span>
					</div>
  					<textarea name="desc" class="form-control" id="description" ng-model="item.description" required></textarea>
  				</div>
  				<hr>
  				<div class="row">
  					<h5>Add pricing to your item.</h5>
  				</div>
  				
  				<div class="row" >
  					<h6>Starting price</h6>
  				</div>
  				<div class="row" align="middle">
  					<div ng-messages="auctionItemForm.minbid.$error" role="alert" ng-if="auctionItemForm.$submitted">
						<span ng-message="required"><font size="2" color="red">Required field is missing.</font></span>
					</div>
  					<input name="minbid" class="form-control" id="startingprice" ng-model="item.minBid" required>
  				</div>
  				<div class="row" >
  					<h6>Buy it now price (Optional)</h6>
  				</div>
  				<div class="row" align="middle">
  					<input class="form-control" id="buynow" ng-model="item.buyout">
  				</div>
  				<hr>
  				<div class="row">
  					<h5>Add your item's location. (Optional)</h5>
  					
  				</div>
  				<br>
  				<div class="row" >
  					<div class="col-md-5">
  						<h6>Enter your item's longitute and latitude</h6>
  						<div class="row">
  							<h6>Longitute</h6>
  						</div>
  						<div class="row" align="middle">
  							<input class="form-control" id="lon" ng-model="item.geoLocationDto.longitude">
  						</div>
  						<div class="row">
  							<h6>Latitude</h6>
  						</div>
  						<div class="row" align="middle">
  							<input class="form-control" id="lat" ng-model="item.geoLocationDto.latitude">
  						</div>
  					</div>
  					<div class="col-md-2">
  						<h1>or</h1>
  					</div>
  					<div class="col-md-5">
  						<h6>Drag the marker to your item's location.</h6>
  						<ng-map center="current-location" zoom="4">
    						<marker position="current-location" draggable="true" on-dragend="getCurrentLocation()"></marker>
  						</ng-map>
  					</div>
  					
  				</div>
  				<hr>
  				<div class="row">
  					<h6>Uploaded images.</h6>
  					<div class="row">
  					<div id="small-img" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
  							<ul style="list-style-type: none;">
    							<div ng-repeat="url in images" style="font:smaller">
    							 <li>
     								
    								<img src="{{url}}"  class="img-responsive img-thumbnail inline-block" >
    								<button class="btn btn-link" ng-click="deleteExisting(url)">Delete</button>
    							</li>
    						</ul>
    				</div>
    						
      					
    			</div>
  				
  				</div>
  				<hr>
  			<div class="row">
  				<h6>Upload at least one picture of your item.</h6>
  			</div>
  			<div class="row">
  				<div class="col-md-4"></div>
  				<div class="col-md-4">
  				<button class="btn btn-primary" ngf-select="uploadFiles($files, $invalidFiles)" multiple
          				accept="image/*" ngf-max-height="1000" ngf-max-size="5MB">
      						Select Files</button>
  				<br><br>
  				
  				</div>
  			</div>
  			<div class="row" ng-repeat="f in errFiles" style="font:smaller"><font size="1" color="red">Could not upload: {{f.name}}, {{f.$error}}: {{f.$errorParam}}</font>
				</div>
  				
			
  				
  				<br>
  				<div class="row">
  			
  					<button type="submit" class="btn btn-primary">Continue</button>
  					
  				</div>
  			</form>
  			
  		
  		</div>
	</div>

</div>
</html>