@CHARSET "UTF-8";

div {
    font-family:"Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.8;

}

hr{
	margin-top: 5px;
	margin-bottom: 5px;
}

.navbar-default .navbar-nav>li>a.active, .navbar-default .navbar-nav>li>a.active:focus, .navbar-default .navbar-nav>li>a.active:hover{

	border: none;
	color: #242d2c;
	font-weight: bold;
	border-bottom: 3px solid #6ecbc9;
}
.special .list-group-item.active, .special .list-group-item.active:focus, .special .list-group-item.active:hover{
	background-color: #6ecbc9;
	border: none;
	color: #242d2c;
	font-weight: bold;
}

.list-group{
	margin-bottom: 0px;
}
.special .list-group-item {
   
    border: none;

}

#main.row{
	border: none;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
}

a{cursor: pointer;}

.badge-danger {
  background-color: #d43f3a;
}