@CHARSET "UTF-8";

#admin1.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 500px;
    padding-right: 500px;
}

 #admin2.container-fluid {
	 padding-top: 50px;
    padding-bottom: 200px;
    padding-left: 800px;
    padding-right: 800px;
 
 }

#verificationCont.container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 250px;
    padding-right: 250px;
 	color: #e1edd;
}

#auctionItemContainer.container-fluid{
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;

}

#editAuctionController.container-fluid{
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 50px;
	padding-bottom: 50px;

}


#newAuction.container-fluid{
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;

}

#welcomeContainer{
	
}


#welcomeContainer.container-fluid {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100%;
    background: url('../images/Photo-Gavel-Computer.png') no-repeat center center;
}

#sessionContainer.container-fluid {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 300px;
    padding-right: 300px;
    background:#ffffff url('../images/Photo-Gavel-Computer.png') no-repeat center center;
}

#notloggedContainer.container-fluid {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 300px;
    padding-right: 300px;
    background:#ffffff url('../mages/Photo-Gavel-Computer.png') no-repeat center center;
}

#verifyContainer.container-fluid {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 300px;
    padding-right: 300px;
    background:#ffffff url('../images/Photo-Gavel-Computer.png') no-repeat center center;
}

#registerContainer.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

#sellerContainer.container-fluid{
	padding-left: 500px;
	padding-right: 500px;
	padding-top: 50px;
	padding-bottom: 50px;
	background:#ffffff url('../images/Photo-Gavel-Computer.png') repeat center center;

}

#profileContainer.container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
 	color: #e1edd;
}

#userInfo.container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 250px;
    padding-right: 250px;
 	color: #e1edd;
}


#auctionStartContainer.container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
  
}

#auctionContainer.container-fluid{
	
	padding: 50px;
	padding-bottom: 200px;

}

#bidContainer.container-fluid{
	padding-left: 50px;
	padding-right: 50px;
}

#messageContainer.container-fluid{
	padding: 50px;
	padding-bottom: 200px;
}

#footerContainer.container-fluid{
	padding: 50px;
}

#openContainer.container-fluid{
	margin-bottom: 100px;
}

#welcomeContainer2.container-fluid{
	padding: 50px;
	padding-left: 200px;
	padding-right: 200px;
}
#navBarContainer.container-fluid{
	padding-left: 200px;
	padding-right: 200px;
}

#sellerContainer1.container-fluid{
	padding-top: 10px;
	padding-left: 400px;
	padding-right: 400px;
	padding-bottom: 100px;
	
}

#adminVerified2,#adminUnverified2.container-fluid{
	padding-left: 43%;
	padding-right: 43%;
	
}

