@CHARSET "UTF-8";

.btn-link {
    background-color: transparent;
    color: blackwhite;
    height: 35px;
    border: none;
    cursor: pointer;
 
    font-size: 16px;
}

#navBarDropdown{
	margin-top: 10px;
}


