@CHARSET "UTF-8";

#usernamePanel{
	display: none;
}

#passwordPanel{
	display: none;
}

#donotmatchPanel{
	
	display:none;
	
}

h1{
	margin-top: -15px;
	color:#636363
}

button.button {
    background-color: #b30000;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

hr {
	width: 50%;
    border: 0;
    border-top: 1px solid #989898;
}

