@CHARSET "UTF-8";

#categories{
	padding-left: 40px;
}

#frontPage.thumbnail{
	    box-shadow: 4px 4px 1px #EEE;
	   
}
.pad{
	background-color: white;
	
}


#panelrow{
	padding: 15px;
	border: 1px solid #ccc;
}

#firstrow {
    padding: 15px;
    border: 1px solid #ddd;
   color:     rgb(139, 0, 0);
}
#headingrow{
	padding-left :15px;
	padding-right: 15px;
}

#myspan{
	display:inline-block;
   	width: 100%;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}


.shadow{
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

#cats{
	
	margin-left: 40px;
}