@CHARSET "UTF-8";

@media (max-height: 300px) {
 .modal{
   overflow-y: scroll !important;
   margin: 0 auto !important;
   position: static !important;
  }
}




.form-control{
	text-align: center;
}