@CHARSET "UTF-8";

#mainNavBar.navbar {

    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

#mainNavBar.navbar-nav li a:hover {
    color: #1abc9c;
}

#srch-term.form-control{
	height: 34px;
}

.navbar-form .input-group > .form-control{
    width: auto;
}

#srch-term{
	width: 500px;
	height: 34px;
	z-index: 1;
}

#sel{
	height:34px;
	z-index: 1;
	width: 200px;
}
#srch-icon{
	z-index: 1;
}

#nav .navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

#nav .navbar .navbar-collapse {
  text-align: center;
} 

#navBarDropdown{
	font-size: 16px;
}