@CHARSET "UTF-8";






#emailForm{
	display: none;
}

#passwordForm{
	display: none;

}

#firstNameForm{
	display: none;
}

#lastNameForm{
	display: none;
}

#mobileForm{
	display: none;
}

#telephoneForm{
	display:none;
}

#vatForm{
	display: none;
}

#genderForm{
	display: none;
	
}

#dateForm{
	display: none;
}

#streetForm{
	display: none;
}

#cityForm{
	display: none;
}

#countryForm{
	display: none;
}

#postalCodeForm{
	display: none;
}





.applyButton{
	display : block;
	border-radius: 3px;
	border: none;
	background-color: #43637b;
	color: white;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
  	margin: 0 auto;
	text-align: center;
	padding: 5px;
	padding-right: 7px;
	padding-left: 7px;
	width: 60px;
	margin-left: 555px;
	margin-top: 10px;

}

.passform{
	width: 600px;
}



#firstNameInput,#lastNameInput,#vatInput,#mobileInput,#telephoneInput,#dateInput,#cityInput,#streetInput,#postalCodeInput,#countryInput.form-control{
	width: 200px;
	text-align:center;
}

input.ng-invalid.ng-dirty:focus { 
    outline: none;
    border-color: #FA787E;
    box-shadow: 0 0 2px #FA787E;
}




.myBtn{
	margin-top: 0;
}


.btn-link:focus{
	border: none;
}


#saveBtn1,#saveBtn2,#saveBtn3.btn-default{
	background-color: #242d2c;
	color: #e1eedd;
}

#invalidPass{
	display: none;
}

#differentPass{
	display: none;
}
