@CHARSET "UTF-8";

#inUsePanel1{
	display: none;
}

#inUsePanel2{
	display:none;
}


.chBox{
	background-color: transparent;
	border: none;
	box-shadow: none;
	webkit-box-shadow: none;
}


.myBtn{
	background-color: #242d2c;
	color: #e1eedd;

}


.myForm
{
  
  margin-left: auto;
  margin-right: auto;
}


.form-control{
	text-align: center;
}




input{
	border: 1px solid #bcbcbc;

	border-radius: 2px;
}

}
#emailerror{
	
 	color: #FA787E;
}


#accepterror{
	display: none;
	color: #FA787E;
}




