

<div class="container-fluid" align="middle" id="userInfo">
	<form>
	<div class="row" align="middle">
		<font size="4">Personal Information</font>
	</div>
	<br>
	<div class="row">
			<div class="col-md-2">
				<font size="2">Account Type</font>
			</div>
			<div class="col-md-8" align="middle">
				<font size="2" color="#516462">{{user.type}}</font>
			</div>
			<div class="col-md-2" align="right" id="cityBut">
				<button class="myBtn btn btn-link" ng-click="adminOptions()" ng-show="user.isAdmin"><font size="2">Admin Options</font></button>
			</div>
		
		</div>
		<hr>
	<div class="row">
			<div class="col-md-2">
				<font size="2">Username</font>
			</div>
			<div class="col-md-8" align="middle">
				<font size="2" color="#516462">{{user.username}}</font>
			</div>
			
		
		</div>
		<hr>
		<div class="row">
			<div class="col-md-2">
				<font size="2">E-mail</font>
			</div>
			<div class="col-md-8" align="middle">
				<font size="2" color="#516462">{{user.email}}</font>
			</div>
			
		</div>
		<hr>
		<div class="row">
			<div class="col-md-2">
				<font size="2">First Name</font>
			</div>
			<div class="col-md-8" align="middle" id="firstNameField">
				<font size="2" color="#516462" >{{user.firstName}}</font>
			</div>
			<div class="col-md-8" align="middle"  id="firstNameForm">
				<input  type="text" class="form-control" id="firstNameInput" ng-model="user.firstName" >
			</div>
			<div class="col-md-2" align="right" id="firstNameBut">
				<button class="myBtn btn btn-link" ng-click="show('firstName')"><font size="2">Edit</font></button>
			</div>
		
		</div>
		<hr>
		<div class="row">
			<div class="col-md-2">
				<font size="2">Last Name</font>
			</div>
			<div class="col-md-8" align="middle" id="lastNameField">
				<font size="2" color="#516462">{{user.lastName}}</font>
			</div>
			<div class="col-md-8" align="middle"  id="lastNameForm">
				<input  type="text" class="form-control" id="lastNameInput" ng-model="user.lastName" >
			</div>
			<div class="col-md-2" align="right" id="lastNameBut">
				<button class="myBtn btn btn-link" ng-click="show('lastName')"><font size="2">Edit</font></button>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-2">
				<font size="2">Gender</font>
			</div>
			<div class="col-md-8" align="middle" id="genderField">
				<font size="2" color="#516462">{{gender}}</font>
			</div>
			<div class="col-md-8" align="middle"  id="genderForm">
				<div class="radio-inline">
					<input type="radio" ng-model="user.gender" value="M"><font size="3">Male</font>
				</div>
				<div class="radio-inline">
					<input type="radio" ng-model="user.gender" value="F"><font size="3">Female</font>
				</div>		
            </div>
			<div class="col-md-2" align="right" id="genderBut">
				<button class="myBtn btn btn-link" ng-click="show('gender')"><font size="2">Edit</font></button>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-2">
				<font size="2">Mobile No</font>
			</div>
			<div class="col-md-8" align="middle" id="mobileField">
				<font size="2" color="#516462">{{user.mobileNumber}}</font>
			</div>
			<div class="col-md-8" align="middle"  id="mobileForm">
				<input  type="text" class="form-control" id="mobileInput" ng-model="user.mobileNumber">
			</div>
			<div class="col-md-2" align="right" id="mobileBut">
				<button class="myBtn btn btn-link" ng-click="show('mobile')" ><font size="2">Edit</font></button>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-2">
				<font size="2">Telephone No</font>
			</div>
			<div class="col-md-8" align="middle" id="telephoneField">
				<font size="2" color="#516462">{{user.phoneNumber}}</font>
			</div>
			<div class="col-md-8" align="middle"  id="telephoneForm">
				<input  type="text" class="form-control" id="telephoneInput" ng-model="user.phoneNumber">
			</div>
			<div class="col-md-2" align="right" id="telephoneBut">
				<button class="myBtn btn btn-link" ng-click="show('telephone')"><font size="2">Edit</font></button>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-2">
				<font size="2">VAT</font>
			</div>
			<div class="col-md-8" align="middle" id="vatField">
				<font size="2" color="#516462">{{user.vat}}</font>
			</div>
			<div class="col-md-8" align="middle"  id="vatForm">
				<input  type="text" class="form-control" id="vatInput" ng-model="user.vat">
			</div>
			<div class="col-md-2" align="right" id="vatBut">
				<button class="myBtn btn btn-link" ng-click="show('vat')"><font size="2">Edit</font></button>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-2">
				<font size="2">Date of Birth</font>
			</div>
			<div class="col-md-8" align="middle" id="dateField">
				<font size="2" color="#516462">{{dateOfBirthConverted}}</font>
			</div>
			<div class="col-md-8" align="middle"  id="dateForm">
				<input  type="date" class="form-control" id="dateInput" ng-model="user.dateOfBirth">
			</div>
			<div class="col-md-2" align="right" id="dateBut">
				<button class="myBtn btn btn-link" ng-click="show('date')"><font size="2">Edit</font></button>
			</div>
		</div>
		<div class="row" align="middle">
			<font size="1">Registered on {{registrationDateConverted}}</font>
		</div>
		<br>
		
		<br>
		</form>
		<form >
		<div class="row" align="middle">
			<font size = "4">Address and Country</font>
		</div>
		<div class="row">
			<div class="col-md-2">
				<font size="2">Street</font>
			</div>
			<div class="col-md-8" align="middle" id="streetField">
				<font size="2" color="#516462" >{{user.address.street}}</font>
			</div>
			<div class="col-md-8" align="middle"  id="streetForm">
				<input  type="text" class="form-control" id="streetInput" ng-model="user.address.street" >
			</div>
			<div class="col-md-2" align="right" id="streetBut">
				<button class="myBtn btn btn-link" ng-click="show('street')"><font size="2">Edit</font></button>
			</div>
		
		</div>
		<hr>
		<div class="row">
			<div class="col-md-2">
				<font size="2">City</font>
			</div>
			<div class="col-md-8" align="middle" id="cityField">
				<font size="2" color="#516462" >{{user.address.city}}</font>
			</div>
			<div class="col-md-8" align="middle"  id="cityForm">
				<input  type="text" class="form-control" id="cityInput" ng-model="user.address.city" >
			</div>
			<div class="col-md-2" align="right" id="cityBut">
				<button class="myBtn btn btn-link" ng-click="show('city')"><font size="2">Edit</font></button>
			</div>
		
		</div>
		<hr>
		<div class="row">
			<div class="col-md-2">
				<font size="2">Postal Code</font>
			</div>
			<div class="col-md-8" align="middle" id="postalCodeField">
				<font size="2" color="#516462" >{{user.address.postalCode}}</font>
			</div>
			<div class="col-md-8" align="middle"  id="postalCodeForm">
				<input  type="text" class="form-control" id="postalCodeInput" ng-model="user.address.postalCode" >
			</div>
			<div class="col-md-2" align="right" id="postalCodeBut">
				<button class="myBtn btn btn-link" ng-click="show('postalCode')"><font size="2">Edit</font></button>
			</div>
		
		</div>
		<hr>
		<div class="row">
			<div class="col-md-2">
				<font size="2">Country</font>
			</div>
			<div class="col-md-8" align="middle" id="countryField">
				<font size="2" color="#516462" >{{user.country}}</font>
			</div>
			<div class="col-md-8" align="middle"  id="countryForm">
				<input  type="text" class="form-control" id="countryInput" ng-model="user.country" >
			</div>
			<div class="col-md-2" align="right" id="countryBut">
				<button class="myBtn btn btn-link" ng-click="show('country')"><font size="2">Edit</font></button>
			</div>
		
		</div>
		<hr>
		<br>
		<div class="row" align="middle">
			<button id="saveBtn1" class="btn btn-default myBtn" ng-click="applyChanges(user)">Save</button>
		</div>
		<br>
	</form>
	
	<form name="passwordForm"class="passform"  ng-submit="passwordForm.$valid && changePassword(passwords)"
	novalidate>
		<div class="row" align="middle">
			<font size="4">Change Password</font>
		</div>
		<br>
		<div class="row" align="middle">
            	<span  id="differentPass" >
             	<i  class="fa fa-exclamation-circle text-danger"aria-hidden="true" color="red"></i> <font size = "2" color="red">New password must be different.</font></span>
		
		</div>
		<div class="row" align="middle">
            	<span  id="invalidPass" >
             	<i  class="fa fa-exclamation-circle text-danger"aria-hidden="true"></i> <font size = "2" >Invalid password.</font></span>
		
		</div>
		<div class="row" align="middle">
            	<span  id="passwords" ng-show="passwordForm.confirmPassword.$invalid && passwordForm.confirmPassword.$dirty">
             	<i  class="fa fa-exclamation-circle text-danger"aria-hidden="true"></i> <font size = "2" >Passwords do not match.</font></span>
		
		</div>
		<div class="row">
			<div class='col-md-4'></div>
			<div class="col-md-4 alert alert-success" align="middle" ng-if='passwordChanged'>
				Password changed!
			</div>
			<div class="col-md-4 alert alert-danger" align="middle" ng-if='invalidPass'>
				Incorrect password!
			</div>
			<div class="col-md-4 alert alert-danger" align="middle" ng-if='different'>
				Password must be different!
			</div>
		</div>
		<div class="row">
			<div class="col-md-4" align="right">
				<font size="2">Current</font>
			</div>
			<div class="col-md-4">
			<div ng-messages="passwordForm.oldPassword.$error" role="alert" ng-if="passwordForm.$submitted">
					<span ng-message="required"><font size="2" color="red">Required field is missing.</font></span>
				</div>
				<input type="password" name="oldPassword" class="form-control" ng-model="passwords.oldPassword" required>
			</div>
		</div>
		<div class="row">
				
			<div class="col-md-4" align="right">
			
			</div>
			<div class="col-md-4"  align='left'>
				<div align="left" ><font size="1" >{{strength}}</font></div>
				<div ng-style="passwordStrength" id="bar"></div>
				
				
			</div>
			
		</div>
		<div class="row">
				
			<div class="col-md-4" align="right">
				<font size="2">New</font>
			</div>
			<div class="col-md-4">
				<div ng-messages="passwordForm.newPassword.$error" role="alert" ng-if="passwordForm.$submitted">
					<span ng-message="required"><font size="2" color="red">Required field is missing.</font></span>
				</div>
				<input type="password" class="form-control" name="newPassword" ng-change="analyze(passwords.newPassword)" ng-model="passwords.newPassword" required>
				
			</div>
			
		</div>
		<div class="row">
			<div class="col-md-4" align="right">
				<font size="2">Re-type</font>
			</div>
			<div class="col-md-4">
				<div ng-messages="passwordForm.confirmPassword.$error" role="alert" ng-if="passwordForm.$submitted">
					<span ng-message="required"><font size="2" color="red">Required field is missing.</font></span>
				</div>
				<input type="password" class="form-control" ng-model="passwords.confirmPassword" name="confirmPassword" required validate-pass="passwords.newPassword" pass>
			</div>
		</div>
		<br>
		<div class="row">
			<button id="saveBtn2" class="btn btn-default myBtn" type="submit">Save</button>
		</div>
	</form>
	

</div>

