<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
#panelrow{
	padding: 15px;
	border: 1px solid #ccc;
}
</style>

<body>

	<div class="container-fluid">
	
		<div class="row">
			Inbox: Sent messages ({{messages.length}})
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row" id="headingrow">
					<div class="col-md-2">
						<input type="checkbox" ng-change="selectAll()" ng-model='checked'><font size="2"> Select All</font>
					</div>
					<div class="col-md-2">
						<button class="btn btn-default" ng-click="deleteMsg()">Delete</button>
					</div>
					</div>
				</div>
				<div class="panel-body" id="mainpanel">
					<div class="row" id="firstrow">
						<div class="col-md-3"></div>
						<div class="col-md-3">From</div>
						<div class="col-md-3">Subject</div>
						<div class="col-md-3">Date</div>
					</div>
					<div id="panelrow" class="row" ng-repeat="message in messages">
						<div class="col-md-3">
							<input type="checkbox" ng-model="message.checked">
						</div>
						<div class="col-md-3">
							<font size="2">{{message.from}}</font>
						
						</div>
						<div class="col-md-3">
							<font size="2">{{message.subject}}</font>
						</div>
						<div class="col-md-3">
							<font size="2">{{message.date}}</font>
						</div>
					</div>
					
				</div>
			
			</div>
		</div>
		<div class="row" align="middle">
			<div class="btn-group">
  				<button type="button" class="btn btn-primary" ng-click='previousPage()' ng-disabled='pageCounter == 1'>Back</button>
  				<button type="button" class="btn btn-primary" ng-click='nextPage()' ng-disabled='messages.length < 10'>Next</button>
  			</div>
		</div>
	</div>


</body>
</html>