<div align="center">
<div class="panel panel-default" >
		
		<div class="panel-heading">
			Sold Auctions <span class="badge"></span>
		</div>
		
		<div class="panel-body" id="inactivePanel">
		<div class="row" align="middle" id="labelrow">
				<div class="col-md-6"></div>
				<div class="col-md-1">
					<font color="#8b0000">Price</font>
				</div>
				<div class="col-md-2">
					<font color="#8b0000">Buy Now!</font>
				</div>
				<div class="col-md-1">
					<font color="#8b0000">Bids</font>
				</div>
			
				
	
			</div>
		
		<div ng-repeat="item in itemsSold">
			<div class="row" id="itemrow">
				<div class="col-md-6">
					<a ui-sref="main.item({id: item.auctionItemId})"><u><font size="3">{{item.name}}</font></u></a>
				</div>
			
			
				<div class="col-md-1">
					{{item.currentBid}}$
				</div>
				<div class="col-md-2" ng-show="item.hasBuyout">
					{{item.buyout}}$
				</div>
				<div class="col-md-2" ng-show="!item.hasBuyout">
					<i>Not avaiable</i>
				</div>
				<div class="col-md-1">
					{{item.bidsNo}}
				</div>
				
				
				<div class="col-md-1">
					
					
					<button ui-sref="main.startAuction({id: item.auctionItemId})" class="btn btn-default" id="start">Start</button>
					
				</div>
				<div class="col-md-1">
					<button ui-sref="main.editAuction({id: item.auctionItemId})" class="btn btn-default" id="edit">Edit</button>
				</div>
			</div>
		
		</div>
			
		
		
		
		</div>
	</div>
		<div class="row" align="middle">
		<div class="btn-group" align="middle">
  			<button type="button" class="btn btn-primary" ng-click='previousPage()' ng-disabled='pageCounter == 1'>Back</button>
  			<button type="button" class="btn btn-primary" ng-click='nextPage()' ng-disabled='itemsSold.length < 10'>Next</button>
  		</div>
		</div>
</div>