
	<div class="container-fluid" id='auctionStartContainer'>
	
		<div class="alert alert-info" align="middle">
			<strong>Info!</strong> Enter an ending date for your auction before clicking the start button.
		</div>
	<form name="startform" class="form-horizontal"  role="form" ng-submit="startform.$valid && start()" novalidate>
	 	<div class="form-group" align="middle">
	 			 	<div ng-messages="startform.date.$error" role="alert" ng-if="startform.$submitted" >
						<span ng-message="required"><font size="2" color="red">Please enter an end date for your auction.</font></span>
						
					</div>
	 				
	 		<label class="control-label col-md-3" for="date">End date:</label>
	 		<div class="col-md-6">
	 			<div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" ng-model='date.endDate' validate-date>
                    	<span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
     		</div>
     	</div>
     	<span ng-show='invalid1'><font size="2" color="red">Start day of your auction must not exceed end date.</font></span>
	 	<span ng-show='invalid2'><font size="2" color="red">Auction duration must be at least one hour.</font></span>
     	<div class="form-group" align="middle"> 
    	
      			<button type="submit" class="btn btn-primary" id="startAuction" >Start</button>
    	</div>

    </form>
	 	
	<br>
	<hr>
	<br>
	
		<div class="panel panel-default">
			<div class="panel-heading" align="middle">
				Item Preview
			</div>
			<div class="panel-body">
				<div  ui-view=preview></div>
			</div>
		</div>
	</div>
