

	<table class="table">
    <tbody class="bg-8">
      <tr>
        <td align="left" width="10%"><button class=" btn btn-link" ng-click="back()"><font size="2">List of messages</font></button></td>
        <td align="left" width="10%" ><button class=" btn btn-link" ><font size="2">Delete</font></button></td>
        <td align="right"><button class=" btn btn-link" ng-click="setReply()" data-toggle="modal" data-target="#modalCompose"><i class="fa fa-reply" aria-hidden="true"></i>Reply</button></td>
        
      </tr>
      
    </tbody>
    </table>
    <table class="table">
    <tbody class="bg-8">
      <tr>
        <td align="right" width="20%"><b>From:</b></td><td align="left" width="80%">from</td>
      </tr>
      <tr>
        <td align="right" width="20%"><b>Subject:</b></td><td align="left" width="80%">{{selectedReceived.subject}}</td>
       </tr>
       <tr>
        <td align="right" width="20%"><b>Date:</b></td><td align="left" width="80%">{{selectedReceived.date}}</td>
     </tr>
    </tbody>
    <tbody class="bord">
    
      <tr>
        <td align="left">{{selectedReceived.message}}</td>
      </tr>
      
    </tbody>
  </table>




